.data-grid-container {
    margin-left: -100%;
    animation: slide-in 0.5s ease-in-out forwards;
    margin-right: 20px;
    margin-bottom: 110px;
    margin-top: 20px;
    background-color: rgb(54, 54, 54);
    color:white !important;
}

.MuiDataGrid-columnsContainer,
.MuiDataGrid-cell {
    color: white !important;
}

.header {
    color: white !important;
}

.grid {
    color: white !important;
    font-size: 16px !important;
}

.cell {
    color: white !important;
}


/* li {
    background-color: rgb(54, 54, 54);
} */

@keyframes slide-in {
    from {
      margin-left: -100%;
    }
    to {
      margin-left: 20px;
    }
  }

