.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #202020;
  color: #fff;
  padding: 16px;
  text-align: center;
  z-index: 999 !important;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.footer h1 {
  font-size: 14px;
  margin: 0;
  text-align: left;
  font-weight: 400;
  flex-basis: 100%;
}

.footerContent {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.clearLocalStorageButton {
  display: flex;
  align-items: center;
  margin-top: 10px;
  transition: transform 0.3s ease;
  font-size: 12px;
  margin-left: 25px;
}

.clearLocalStorageButton button {
  color: white;
  background-color: red;
  height: 24px;
  width: 24px;
  padding: 0 12px;
}

.clearLocalStorageButton button:active {
  transform: rotateY(360deg);
  animation: flip 1.2s ease;
}

.clearLocalStorageButton:hover {
  animation: animate 0.4s;
}

@keyframes flip {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(720deg);
  }
  100% {
    transform: rotateY(1080deg);
  }
}