body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  position: relative;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #202020;
  color: #fff;
  padding: 16px;
  text-align: center;
  z-index: 999 !important;
    /* add a high z-index value to ensure the footer appears on top */
}

.footer h1 {
  font-size: 14px;
  margin: 0;
  text-align: left;
  font-weight: 400;
}

.content {
  margin-top: 80px !important;
  margin-bottom: 100px !important;
}

.clearLocalStorageButton {
  position: fixed;
  bottom: 13px;
  right: 20px;
  font-size: 12px;
  margin-left: 25px;
}

.clearLocalStorageButton button {
  color: white;
  background-color: red;
  height: 24px;
  width: 24px;
  padding: 0 12px;
}

.clearLocalStorageButton:hover{
  animation: animate 0.2s;
}

@keyframes animate{
  0%{
      transform: rotate(0deg) translateX(0px);

  }
  25%{
      transform: rotate(-10deg) translateX(-10px);
      
  }
  50%{
      transform: rotate(0deg) translateX(0px);
      
  }
  75%{
      transform: rotate(10deg) translateX(10px);
      
  }
  100%{
      transform: rotate(0deg) translateX(0px);
      
  }
}