.navbar {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100%;
  background-color: #202020 !important;
  color: #fff;
  box-sizing: border-box;
  z-index: 9999 !important; 
    /* add a high z-index value */
}

.navbar .nav-link {
  color: #fff;
}

.navbar .navbar-brand {
  color: #fff;
}

.navbar .nav-link:hover,
.navbar .logo-icon:hover {
  color: rgb(192, 19, 19);
}

body {
  margin: 0;
  padding-top:70px !important;
  box-sizing: border-box;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #202020;
  color: #fff;
  padding: 16px;
  text-align: center;
  z-index: 999;
  /* add a high z-index value to ensure the footer appears on top */
}

.footer h1 {
  font-size: 16px;
  margin: 0;
  text-align: left;
  font-weight: 400;
}

.content {
  margin-top: 80px !important;
  margin-bottom: 100px !important;
}